* {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

ul li {
	list-style: none;
}

.dirlist_line {
	width: 100%;
	height: 36px;
	line-height: 36px;
	border-bottom: 2px solid #2b2d31;
	font-size: 16px;
	color: #2b2d31;
	position: relative;
	margin-bottom: 30px;
}

/* 公司简介 */
.company_about {
	width: 100%;
	height: 300px;
	border-bottom: 1px dashed #333;
}

.company_about_text {
	width: 60%;
	float: left;
}

.company_about_text p {
	text-indent: 2em;
	margin-bottom: 10px;
}

.company_about_img {
	width: 40%;
	float: right;
	/* background-color: yellow; */
	text-align: center;
}

.slideBox {
	margin: 10px auto;
	width: 300px;
	height: 300px;
	/* box-shadow: 2px 2px 10px black;
	border-radius: 20px; */
	position: relative;
	overflow: hidden;
}

.slideBox ul {
	position: relative;
	width: 2000px;
	height: 200px;
	/* border:1px solid red; */
}

.slideBox ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 300px;
	height: 200px;
	/* 	border:1px solid green; */
	position: relative;
}

.spanBox {
	position: absolute;
	width: 300px;
	height: 20px;
	top: 230px;
	left: 80px;
}

.spanBox span {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border-radius: 10px;
	background-color: rgba(197, 213, 43, 0.8);
	float: left;
	line-height: 16px;
	text-align: center;
	font-family: cabin-sketch;
	font-size: 15px;
	cursor: pointer;
}

.slideBox .spanBox .active {
	background-color: rgba(255, 255, 255, 0.79);
	border: solid 1px #BEEBEC;
	border-radius: 4px;
}

.prev {
	position: absolute;
	left: 0px;
	top: 100px;
	float: left;
	opacity: 0.5;
}

.next {
	position: absolute;
	right: 0px;
	top: 100px;
	float: right;
	opacity: 0.5
}

/* 新闻动态 */
.company_new {
	margin-top: 30px;
	width: 100%;
}

.all_option {
	display: block;
	width: 99.8%;
	height: 40px;
	background-color: #ccc;
	margin: 0px auto;
	font-size: 12px;
}

input[name="check"] {
	width: 16px;
	height: 16px;
	margin-left: 20px;
}

.all_option span {
	font-size: 14px;
	padding-left: 6px;
}

td a {
	text-decoration: none;
	color: #333;
}

td a:hover {
	text-decoration: underline;
	color: CornflowerBlue;
}

/* 操作按钮 */
#option_del, #option_cr {
	margin-top: 7px;
	margin-left: 20px;
	border: none;
	background-color: rgb(60, 61, 61);
	width: 60px;
	height: 24px;
	margin-right: 6px;
	color: #fff;
	border-radius: 3px;
}

.del_btn, .mod_btn {
	border: none;
	background-color: rgb(60, 61, 61);
	width: 30px;
	height: 24px;
	margin-right: 6px;
	margin-top: 2px;
	color: #fff;
	font-size: 12px;
	border-radius: 4px;
}

/* 新增文章 修改文章*/
.wz_crea, .wz_modify {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.6);
}

/* 新增修改弹出框关闭按钮 */
.wz_crea .close, .wz_modify .close {
	display: block;
	background-color: rgb(193, 213, 43);
	width: 24px;
	height: 24px;
	color: #fff;
	border-radius: 13px;
	position: absolute;
	top: 36px;
	right: 7%;
	line-height: 24px;
	text-align: center;
	font-size: 18px;
}

.wz_crea .close::before, .wz_modify .close::before
	{
	content: "\2716";
}

.wz_crea_body, .wz_modify_body {
	width: 80%;
	height: 600px;
	margin: 50px auto;
	text-align: left;
	background-color: #fcfcfc;
	border-radius: 20px;
	position: fix
}

.wz_crea h5, .wz_modify h5 {
	color: #2B2D31;
	padding-top: 10px;
	text-align: center;
}

.wz_crea form, .wz_modify form {
	width: 70%;
	margin: 0 auto;
}

.wz_crea p, .wz_modify p {
	height: 30px;
	line-height: 30px;
}

.wz_crea  p:nth-child(2), .wz_modify p:nth-child(2)
	{
	height: 300px;
	margin-bottom: 30px;
	position: relative;
}

.wz_crea p:nth-child(2) span, .wz_modify p:nth-child(2) span
	{
	position: relative;
	top: -300px;
}

.wz_crea p span, .wz_modify p span {
	display: inline-block;
	width: 70px;
	font-size: 14px;
	color: #333;
	text-align: right;
	margin-right: 6px;
	margin-left: 20px;
}

.wz_crea p input, .wz_modify p input {
	width: 60%;
	height: 24px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 4px;
	padding: 2px;
}

.wz_crea p input:hover, .wz_modify p input:hover
	{
	border: 1px solid #cde1ff;
}

.wz_crea p textarea, .wz_modify p textarea {
	display: inline-block;
	width: 80%;
	height: 300px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 4px;
	resize: none;
	font-size: 13px;
	color: #333;
	padding: 6px;
}


.wz_crea p.wz_crea_p,
.wz_modify p.wz_mod_p {
	text-align: center;
}


.wz_crea p input[type="submit"],
.wz_modify p input[type="submit"] {
	width : 80px;
	height: 30px;
	background-color: #2B2D31;
	color: #fff;
}


/* 查看文章 */
.wz_look {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.6);
}


.wz_look .close {
	display: block;
	background-color: rgb(193, 213, 43);
	width: 24px;
	height: 24px;
	color: #fff;
	border-radius: 13px;
	position: absolute;
	top: 36px;
	right: 7%;
	line-height: 24px;
	text-align: center;
	font-size: 18px;
}

.wz_look .close::before
	{
	content: "\2716";
}

.wz_look_body {
	width: 70%;
	height:750px;
	margin: 50px auto;
	text-align: left;
	background-color: #fcfcfc;
	border-radius: 20px;
	position: fix
}

.wz_look_body div{
	width: 70%;
	margin: 0 auto;
}
.wz_look_body div .wz_look_title{
	color: #2B2D31;
	padding-top: 20px;
	text-align: center;
}
.wz_look_body div p{
	width:100%;
	margin-top:-10px;
	text-align:right;
}
.wz_look_body div .wz_look_autor,
.wz_look_body div .wz_look_time{
	width:auto;
	display:inline-block;
	margin-left:6px;
	margin-right:14px;
}

.wz_look_body .wz_look_content{
	display:block;
	width: 76%;
	height:600px;
	min-height:100px;
	margin:0px auto;
	overflow-y:auto;
	border:1px dashed #aaa;
	border-radius:20px;
	padding:10px;
}